*,p{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}

/*自定义样式  - 开始*/

/*向下翻页的按钮*/
.swiper-button-next {
    background-size: 30px 35px;
    position: absolute;
    top: auto;
    bottom: 2%;
    left: 50%;
    right: auto;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    animation: btnnext 1.7s infinite;
}
@keyframes btnnext {
    0%{
        bottom: 3%;
        opacity: 1;
    }
    100%{
        bottom: 5%;
        opacity: 0;
    }
}

/*旋转音乐按钮*/
#mp3btn{
    position: absolute;
    right: 7%;
    top: 4%;
    z-index: 100;
    width: 30px;
    height: 30px;
    background-color: rgba(85, 86, 86, 0.49);
    border: 3px solid rgba(197, 197, 197, 0.5);;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    transform: rotateZ(0deg);
    animation: mp3btnkey 2s linear infinite;
}
@keyframes mp3btnkey {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
#mp3btn img{
    width: 10px;
}

/*底部*/
.foot{
    position: absolute;
    bottom: 70px;
    width: 100%;
    z-index: 1;
}
.foot img{
    position: absolute;
    height: 70px;
}
.foot img:nth-of-type(1){
    left: 0;
    animation: footerone 3s alternate infinite;
}
.foot img:nth-of-type(2){
    left: -16%;
    animation: footertwo 3s alternate infinite;
}
@keyframes footerone {
    0%{
        right: 0;
    }
    100%{
        left: -33%;
    }
}
@keyframes footertwo {
    0%{
        right: 100%;
    }
    100%{
        left: 0;
    }
}

/* .s1*/
.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    background: url("../img/bj.png");
    height: 100%;
}
.s1 .header img{
    position: absolute;
}
.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 120px;
    left: 50px;
    /*animation: tada infinite 循环;*/
}
.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
}
.s1 .header img:nth-of-type(3){
    width: 55px;
    left: 35px;
    bottom: 180px;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 210px;

}
.s1 .header img:nth-of-type(5){
    left: 50%;
    top: 25%;
    width: 60%;
    margin-left: -30%;
}
.swing{
    transform-origin: center;
}

/*首页文字*/
.s1 .main{
    position: absolute;
    top: 30%;
    color: #000000;
    font-weight: bold;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
    margin-bottom: 20px;
}
.s1 .main .img9{
    background: url("../img/9.png");
    width: 207px;
    height: 24px;
    margin: auto;
    background-size: cover;   /*规定背景图像的尺寸：把背景图像扩展至足够大，以使背景图像完全覆盖背景区域。背景图像的某些部分也许无法显示在背景定位区域中。*/
}

/*首页底部*/
.s1 .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #00e6b6;
}
.s1 .footer h2{
    margin-bottom: 12px;
    font-size: 18px;
}
.s1 .footer p{
    font-size: 16px;
    margin-bottom: 35px;
}
.s1 .footer p{
    height: 95px;
}

/*s2*/
.s2,.s3,.s4,.s5,.s6,.s7{
    color: #00f0c3;
}
.s2 h2,.s3 h2,.s4 h2,.s5 h2,.s6 h2,.s7 h2 {
    padding-top: 20%;
    font-size: 24px;
    margin-bottom: 7%;
}
.s2 h2::before,.s3 h2::before,.s4 h2::before,.s5 h2::before,.s6 h2::before,.s7 h2::before,
.s2 h2::after,.s3 h2::after,.s4 h2::after,.s5 h2::after,.s6 h2::after,.s7 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s2 h2::before,.s3 h2::before,.s4 h2::before,.s5 h2::before,.s6 h2::before,.s7 h2::before {
    background: url("../img/14.png");
    background-size: cover;
    left: 45px;
    top: 82px;
    animation: leftone 1s alternate infinite;
}
@keyframes leftone {
    0%{
        right: 5px;
    }
    100%{
        left: 40px;
    }
}
.s2 h2::after,.s3 h2::after,.s4 h2::after,.s5 h2::after,.s6 h2::after,.s7 h2::after {
    background: url("../img/13.png");
    background-size: cover;
    right: 45px;
    top: 82px;
    animation: rightone 1s alternate infinite;
}
@keyframes rightone {
    0%{
        right: 45px;
    }
    100%{
        right: 40px;
    }
}
.s2 h2 small,.s3 h2 small,.s4 h2 small,.s5 h2 small,.s6 h2 small,.s7 h2 small {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
}
.s2 div {

}
.s2 img ,.s4 img,.s7 img{
    width: 80%;
}
.s2 .main {
    position: relative;
}
.s2 .text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 5%;
    font-size: 14px;
    line-height: 22px;
}
.s2 .text p {
    margin-bottom: 10px;
}
.s2 span {
    position: absolute;
    bottom: -9px;
    left: 50%;
    width: 120px;
    height: 30px;
    margin-left: -60px;
    background: -moz-linear-gradient(left, #00e7f7, #00fc9f); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00e7f7), to(#00fc9f)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00e7f7, #00fc9f); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00e7f7, #00fc9f); /*Opera11*/
    color: #000;
    font-size: 16px;
    line-height: 30px;
    border-radius: 20px;
    font-weight: bold;
}

/*s3*/
.s3 .main{
    font-weight: bold;
    height: 355px;
}
.s3 span{
    position: absolute;
    border-radius: 50%;
    line-height: 60px;
    z-index: 10;
    background: radial-gradient(circle,rgba(16, 16, 16, 0.05),rgba(0, 231, 247, 0.49));   /*radial:径向的*/
    animation: rubberBand infinite 2s 2s;
}
.s3 span:nth-of-type(1){
    top: 40%;
    left: 33%;
    width: 130px;
    height: 130px;
    font-size: 25px;
    line-height: 130px;
    animation: pulse infinite 2s 2s;
}
.s3 span:nth-of-type(2){
    top: 28%;
    left: 25%;
    width: 60px;
    height: 60px;
}
.s3 span:nth-of-type(3){
    top: 28%;
    right: 25%;
    width: 60px;
    height: 60px;
}
.s3 span:nth-of-type(4){
    bottom: 45%;
    left: 8%;
    width: 60px;
    height: 60px;
}
.s3 span:nth-of-type(5){
    bottom: 45%;
    right: 8%;
    width: 60px;
    height: 60px;
}
.s3 span:nth-of-type(6){
    bottom: 29%;
    left: 25%;
    width: 60px;
    height: 60px;
}
.s3 span:nth-of-type(7){
    bottom: 29%;
    right: 25%;
    width: 60px;
    height: 60px;
}
.s3 .main div{
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(25, 171, 181, 0.5);
}
.s3 .main div:nth-of-type(1){
    width: 207px;
    height: 207px;
    top: 34%;
    left: 22%;
}
.s3 .main div:nth-of-type(2){
    width: 230px;
    height: 233px;
    top: 32%;
    left: 19%;
}
.s3 .main div:nth-of-type(3){
    width: 255px;
    height: 259px;
    top: 30%;
    left: 16%;
}
.s3 .main div:nth-of-type(4){
    width: 277px;
    height: 285px;
    top: 28%;
    left: 13%;
}
.s3 .footer{
    width: 275px;
    font-size: 15px;
    margin: auto;
}
.s3 .footer p{
    border-left: 3px solid #00f0c3;
    padding-left: 10px;
    text-align: left;
}

/*s4*/
.s4 .main{
    position: relative;
}
.s4 ul{
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
}
.s4 li img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.s4 li{
    margin-top: 15px;
    font-size: 16px;
}
.s4 li span:nth-of-type(2){
    color: #00bffd;
    line-height: 0px;
    margin-left: 5px;
}
.s4 li span:nth-of-type(1){
    margin-left: 5px;
}
.s4 li:nth-of-type(1) span:nth-of-type(2){
    margin-left: 20px;
}
.s4 li p{
    text-align: left;
    margin-bottom: 3px;
}
.s4 li p span{
    color: #fff;
}
.s4 li div{
    height: 15px;
    display: inline-block;
}
.s4 li:nth-of-type(2) div:nth-of-type(1){
    width: 225px;
    background: linear-gradient(to left, #26f9b2, #000525);   /*linear:线性的*/
}
.s4 li:nth-of-type(2) div:nth-of-type(2){
    width: 125px;
    background: linear-gradient(to left, #00bffd, #000525);
    margin-left: -88px;
}
.s4 li:nth-of-type(3) div:nth-of-type(1){
    width: 175px;
    background: linear-gradient(to left, #26f9b2, #000525);
    margin-left: -37px;
}
.s4 li:nth-of-type(3) div:nth-of-type(2){
    width: 105px;
    background: linear-gradient(to left, #00bffd, #000525);
    margin-left: -108px;
}
.s4 li:nth-of-type(4) div:nth-of-type(1){
    width: 130px;
    background: linear-gradient(to left, #26f9b2, #000525);
    margin-left: -90px;
}
.s4 li:nth-of-type(4) div:nth-of-type(2){
    width: 65px;
    background: linear-gradient(to left, #00bffd, #000525);
    margin-left: -163px;
}
.s4 li:last-of-type {
    font-size: 14px;
    width: 92%;
    margin: auto;
    margin-top: 33px;
}

/*s5*/
.s5 .main div{
    background: url("../img/12.png");
    width: 140px;
    height: 175px;
    background-size: 100% 100%;
    padding: 15px 0;
    float: left;
    margin: 0 -15px 40px 37px;
}
.s5 p{
    font-size: 13px;
    color: #00f0c3;
    font-weight: bold;
}
.s5 span{
    display: block;
    width: 98px;
    height: 22px;
    color: #000;
    font-size: 15px;
    line-height: 22px;
    border-radius: 20px;
    font-weight: bold;
    background: -webkit-linear-gradient(left,#00e7f7, #00fc9f);
    margin: auto;
    margin-top: 5px;
}

/*s6*/
.s6 .main{
    width: 80%;
    margin: auto;
    border-left: 1.5px dashed #00fc9f;
}
.s6 .main img{
    position: absolute;
    left: 26px;
}
.s6 .main img:nth-of-type(2){
    top: 294px;
}
.s6 .main img:nth-of-type(3){
    top: 432px;
}
.s6 .main span{
    display: block;
    background: url("../img/s6btn2.png");
    width: 250px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    line-height: 23px;
    margin-left: 18px;
    text-align: left;
    padding-left: 15px;
}
.s6 .main div{
    width: 270px;
    height: 85px;
    margin-left: 18px;
    border: 1px solid #024454;
    background: radial-gradient(rgba(0, 0, 0, 0),rgba(0, 230, 182, 0.25));
    border-radius: 12px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}
.s6 .main div p{
    text-align: left;
}

/*s7*/
.s7 .main img{
    position: relative;

}
.s7 .main div{
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    width: 80%;
    margin: auto;
}
.s7 input{
    width: 260px;
    height: 52px;
    margin-bottom: 10px;
    border: 1px solid #00f0c3;
}
.s7 button{
    margin-top: 10px;
    background: #00f0c3;
    border: 0;
}
.s7 button a{
    color: #fff;
    text-align: center;
    padding: 17px 116px;
    display: block;
    text-decoration: none;
}
.s7 .main p{
    font-size: 16px;
    width: 260px;
    margin: auto;
    margin-top: 20px;
}